{% extends 'index.html' %}
{% load static %}
{% block title%}<title>Dashboard | MySiwie </title>{% endblock%}
{% block content%}
        <style>
            .dropdown__sec .dropdown__trigger {
                cursor: pointer;
                user-select: none;
            }
            a{
                color: #666666;
                font-weight: 0;
                text-decoration: none;
                font-weight: 1;
            }
            a:hover {
                color: #000;
                text-decoration: none;
            }
        </style>


        <div class="main-container">

            <!-- <section> -->
                <section class="height-10" style="padding:1em 0;">
                    <div class="container">
                        <div class="boxed boxed--lg bg--white text-left">
                                <form method="GET" action="{% url 'log_search' %}" class="form--horizontal row">
                                    <div class="col-md-6">
                                        <input type="text" name="keyword" value="{{request.get.keyword}}" id="id_keyword" placeholder="Keywords" />
                                    </div>


                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn--primary type--uppercase">Search</button>
                                    </div>
                                </form>
                    </div>
                </section>
                <div class="container">
                    <h2>eLogbook</h2>
                    <div class="row justify-content-center">

                        <div class="col-md-10">

                            <div class="process-1">
                                {% for logbook in page.object_list%}
                                <div class="process__item">
                                    <a href="{% url 'log_single' logbook.id %}">
                                        <h4>Week{{logbook.week}},Day {{logbook.day}}</h4>
                                        <p>
                                            {{logbook.log_details}} <br>
                                            <span>- {{logbook.date_posted}}</span>
                                        </p>
                                    </a>
                                </div>
                                 {% endfor%}




                            </div>
                            <section>

                             <div class="page-links" align="center">

                                    {% if page.has_previous %}


                                    <a href="{% url 'dashboard' %}?page= {{page.previous_page_number}}">previous</a> |
                                    {% endif %}

                                 {% for num in page.paginator.page_range %}
                                    {% if page.number == num%}
                               <a href="{% url 'dashboard'%}?page={{num}}">{{num}}</a>
                                {%elif num > page.number|add:'-3' and num < page.number|add:'3' %}
                                <a href="{% url 'dashboard'%}?page={{num}}">{{num}}</a>
                                {%endif%}
                                     {%endfor%}
                                 {% if page.has_next %}
                                 <a  href="{% url 'dashboard' %}?page= {{page.next_page_number}}"> | Next</a>
                                 {% endif %}


                                </div>
                            </section>
                            <!--end process-->
                        </div>

                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            <!-- </section> -->

        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
   {% endblock%}