{% load static%}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title%} <title>Login | MySiwie </title>{% endblock%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        
        <link href="{% static 'siwieapp/img/mysiwielogo.jpeg' %}" rel="icon">
       <link href="{% static 'siwieapp/img/mysiwielogo.jpeg' %}" rel="apple-touch-icon">
        
        <link href="{% static 'siwieapp/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" >
        <link href="{% static 'siwieapp/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/flickity.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/jquery.steps.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'siwieapp/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body class=" ">
        <a id="start"></a>
        <div class="nav-container ">
            <nav class="bar bar-4 bar--transparent bar--absolute" data-fixed-at="200">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-md-offset-0 col-4">
                            <div class="bar__module">

                                    <span>
                                        <h3 style="font-weight: bold;margin:0;color:white;">MySiwie</h3>
                                    </span>

                            </div>
                            <!--end module-->
                        </div>
                         {% block content%}
                        <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-8 col-offset-2">
                            <div class="bar__module ml-4">
                                <a class="btn btn--sm type--uppercase" href="{% url 'register' %}">
                                    <span class="btn__text">
                                        Sign Up
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">

            <section class="imageblock switchable feature-large height-100">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="{% static 'siwieapp/img/inner-7.jpg' %}" />
                    </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">

                            <h2>Sign in</h2>
                            <p class="lead">Ready to Log your activities today?.</p>
                             {% if messages %}
                                 {% for message in messages %}

                                 <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{message}}</strong>

                                 </div>
                                  {% endfor%}
                            {% endif %}



                            <form method="post" action="{% url 'login_validate'%}">
                                 {% csrf_token %}

                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" name="username" placeholder="Username" required id="id_username/>
                                    </div>
                                    <div class="col-12">
                                        <input type="password" name="password" placeholder="Password" required id="id_password />
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn--primary type--uppercase">Log In</button>
                                    </div>
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        {% endblock %}
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="{% static 'siwieapp/js/jquery.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/flickity.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/parallax.js' %}"></script>
        <script src="{% static 'siwieapp/js/typed.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/isotope.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/ytplayer.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/lightbox.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/granim.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'siwieapp/js/scripts.js' %}"></script>
    </body>

</html>
