{% extends 'index.html' %}
{% load static %}
{% block title%}<title>Password Reset | MySiwie </title>{% endblock%}
{% block content%}
      <div class="main-container">
            <section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    <img alt="avatar" src="{% static 'siwieapp/img/avatar-round-3.png' %}" class="image--sm">
                                    <span class="h5">{{request.user.first_name}} {{request.user.last_name}}</span>
                                    <span class="label">In Siwes</span>
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="{% url 'profile_edit' %}">Profile</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="boxed boxed--lg boxed--border">


                                    <h4>Password Reset</h4>
                                 <div class="row">
                                     <div class="col-md-12">
                                    <form method="post">

                                        {% csrf_token %}
                                        {{form}}
                                        </div>
                                 </div>
                                <br/>
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
           {%endblock%}

